p {
    font-family: 'Open Sans', sans-serif !important;
}

.paddingTop {
    padding-top: 90px;
}

.paddingBottom {
    padding-bottom: 90px;
}

.paddingTop45 {
    padding-top: 45px;
}

.paddingBottom45 {
    padding-bottom: 45px;
}

.marginRight{
    margin-right: 20px;
}

.noItalic {
    font-style: normal;
}

#foundersBox {
    background: #565656;
    color: white;
}

.galeryImages .card{
    background-color: white !important;
}
